<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
</head>
style
      include ../static/style.css

<body>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/">about</a></li>
            <li><a href="/">contact</a></li>
        </ul>
    </nav>
    <div class="container">
<h1>title of form </h1>
 <!-- <p>
    | #{content}
 </p> -->
 <form action="/"  method="post" id="contact">
    <!-- <img src="../static/amul1.1.jpg" alt="not loaded"> -->
    <input type="text" name="name_1" id="name" placeholder=" form-column1">
    <input type="text" name="name_2" id="name" placeholder=" form-column2">
    <input type="text" name="name_3" id="name" placeholder=" form-column3">
    <input type="text" name="name_4" id="name" placeholder=" form-column4">
    <input type="text" name="name_5" id="name" placeholder=" form-column5">
    <textarea name="rec_1" id="adress-1" cols="10" rows="10" placeholder="rectangle-1"></textarea>
    <textarea name="rec_2" id="adress-1" cols="10" rows="10" placeholder="rectangle-1"></textarea>
    <button class="btn">submit</button>

</form>
</div> 

</body>
</html>